/OblDADominio/dist/
/OblDAInterfaz/dist/
/OblDADominio/build/
/OblDAInterfaz/build/
/OblDAPersistencia/nbproject/private/
/OblDAPersistencia/build/
/rmi.client/nbproject/private/
/rmi.common/nbproject/private/
/rmi.server/nbproject/private/
/rmi.client/build/
/rmi.common/build/
/rmi.server/build/
/rmi.common/dist/
/rmi.consultas/nbproject/private/
/rmi.consultas/build/
/rmi.consultas/dist/
/Dijkstra/nbproject/private/